@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Tillana:wght@500&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #537970;
}

body {
    background-color: #537970;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #785B51;
}

nav a:hover {
    background-color: #785B51;
    color: beige;
}

.book,
.join {
    background-color: #785B51;
    color: wheat;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #C4775E;
    color: white;
}

.msg {
    background-color: #785B51;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black
}

footer {
    background-color: #785B51;
    color: wheat;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    color: wheat;
    font-family: 'Tillana', 'Rockwell', 'Calisto MT';
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #C4775E
}

.msg h2 {
    color: wheat;
    font-family: 'Tillana', 'Rockwell', 'Calisto MT';
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: wheat;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.logo,
.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    padding-top: 10px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0
}

.card-img {
    border: 10px solid #C4775E;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg h4 {
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img,
.mountains {
    width: 100%
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}

@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}

.river-title {
    color: wheat;
    font-family: 'Tillana', 'Rockwell', 'Calisto MT';
    font-size: 2em;
    margin-top: 10px;
    text-shadow: 5px 5px black;
    margin: 50px;
    letter-spacing: .25em;
    font-size: 6em;
}

/* Page 2 General */

.p-elements {
    margin: 80px;
    margin-top: 45px;
    padding-bottom: 20px;
    line-height: 1.7em;
    color: #785B51;
}

.img-elements {
    border: solid 5px #C4775E;
    box-shadow: 4px 4px 5px 1px #785B51;
}

.div-elements {
    background-color: wheat;
    border: solid 7px #785B51;
    box-shadow: 2px 2px 5px 1px #473631;
}

.h1-elements {
    padding-top: 25px;
    font-family: 'Tillana', 'Rockwell', 'Calisto MT';
    color: #785B51;
}

/* Main Fork of the Salmon River, Idaho */

#salmon-river-p {
    margin: 80px;
    margin-top: 45px;
    padding-bottom: 20px;
    line-height: 1.7em;
    color: #785B51;
}

#salmon-river {
    margin-right: 80px;
    float: right;
    width: 350px;
    margin-top: 100px;
    border: solid 5px #C4775E;
    box-shadow: 4px 4px 5px 1px #785B51;
}

#salmon-river-div {
    background-color: wheat;
    margin-left: 80px;
    margin-right: 240px;
    margin-top: 160px;
    border: solid 7px #785B51;
    box-shadow: 2px 2px 5px 1px #473631;
}

#salmon-river-h1 {
    margin-left: 40px;
    padding-top: 25px;
    font-family: 'Tillana', 'Rockwell', 'Calisto MT';
    color: #785B51;
    font-size: 42px;
}

/* Desolation and Gray Canyon, Utah */

#desolation {
    margin-left: 80px;
    margin-top: 80px;
    height: 280px;
    float: left;
    margin-right: 40px;
    margin-bottom: 7px;
}

#desolation-div {
    margin-left: 240px;
    margin-right: 80px;
    margin-top: 160px;
}

#desolation-h1 {
    text-align: center;
    font-size: 42px;
}

#desolation-p {
    margin-left: 80px;
}

/* Grand Canyon */

#grand {
    margin-top: 80px;
    height: 290px;
    float: right;
    margin-right: 80px;
}

#grand-div {
    margin-top: 280px;
    margin-right: 240px;
    margin-left: 80px;
}

#grand-h1 {
    margin-left: 80px;
    font-size: 42px;
}